@model Hovis.Web.Base.Models.t_HovisVPD_Document_Types_Drop_Down

@{
    ViewBag.Title = "Edit";
}
<div class="content-wrap">
    <div class="center-wrapper text-left">
        <div class="center-content">
            <div class="subscription col-md-6 col-md-offset-3 bg-white">
                <section class="panel panel-primary">
                    <header class="panel-heading">Change Document Type</header>
                    <div class="panel-body">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.TypeID)

                                <div class="form-group">
                                    @Html.LabelFor(model => model.TypeDescription, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.TypeDescription, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TypeDescription, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <div>
                                        <input type="submit" value="Save" class="btn btn-success" />
                                    </div>
                                </div>
                            </div>
                        }

                        <div>
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success" })
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
