@model IEnumerable<Hovis.Web.Base.Models.t_HovisVPD_Document_Types_Drop_Down>

@{
    ViewBag.Title = "Index";
}
<div class="content-wrap">
    <div class="center-wrapper text-left">
        <div class="center-content">
            <div class="subscription col-md-6 col-md-offset-3 bg-white">
                <p>
                    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TypeDescription)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TypeDescription)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.TypeID }, new { @class = "btn btn-success btn-xs" }) |
                                @Html.ActionLink("Details", "Details", new { id = item.TypeID }, new { @class = "btn btn-success btn-xs" })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
