@model Hovis.Web.Base.Models.t_HovisVPD_Details

@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.VPDRefNo)
    @Html.HiddenFor(model => model.RaisedBy)    
    @Html.HiddenFor(model => model.DateFirstRaised)
    @Html.HiddenFor(model => model.BakeryPONumber)
    @Html.HiddenFor(model => model.ItemCode)
    @Html.HiddenFor(model => model.ItemDescription)
    @Html.HiddenFor(model => model.DescriptionOfIssue)
    @Html.HiddenFor(model => model.IssueCategory)
    @Html.HiddenFor(model => model.Bakery)
    @Html.HiddenFor(model => model.SupplierName)
    @Html.HiddenFor(model => model.SupplierContactDetails)
    @Html.HiddenFor(model => model.SupplierContactName)
    @Html.HiddenFor(model => model.Priority)
    @Html.HiddenFor(model => model.ActionsRequired)
    @Html.HiddenFor(model => model.OthersInvolved)
    @Html.HiddenFor(model => model.LastUpdates)
    @Html.HiddenFor(model => model.DeliveryLotNo)
    @Html.HiddenFor(model => model.DeliveryDate)
    @Html.HiddenFor(model => model.SupplierReferenceNo)
    @Html.HiddenFor(model => model.IssueClosureDate)
    @Html.HiddenFor(model => model.Status)
    <div class="content-wrap">
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-content ">
                    <section class="tab-pane active" id="elements">
                        <form>
                            <div class="row">
                                <div class="col-lg-12">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <section class="panel panel-danger">
                                        <header class="panel-heading">VPD Details</header>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <span class="control-label">
                                                            @Html.LabelFor(model => model.DateFirstRaised, htmlAttributes: new { @class = "control-label" })
                                                        </span>
                                                        <span class="form-control" style="background-color:lightgray">
                                                            @Html.DisplayFor(model => model.DateFirstRaised, new { htmlAttributes = new { @class = "form-control" } })
                                                        </span>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <span class="control-label">
                                                            @Html.LabelFor(model => model.RaisedBy, htmlAttributes: new { @class = "control-label" })
                                                        </span>
                                                        <span class="form-control" style="background-color:lightgray">
                                                            @Html.DisplayFor(model => model.RaisedBy, new { htmlAttributes = new { @class = "form-control" } })
                                                        </span>
                                                    </div>
                                                    <div class="col-md-3">
                                                    </div>
                                                    <div class="col-md-3">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-4">
                                                        <span class="control-label">
                                                            @Html.LabelFor(model => model.VPDRefNo, htmlAttributes: new { @class = "control-label" })
                                                        </span>
                                                        <span class="form-control" style="background-color:lightgray">
                                                            @Html.DisplayFor(model => model.VPDRefNo, new { htmlAttributes = new { @class = "form-control" } })
                                                        </span>
                                                    </div>
                                                    <div class="col-md-4">
                                                    </div>
                                                    <div class="col-md-4">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-4">
                                                    </div>
                                                    <div class="col-md-4">
                                                    </div>
                                                    <div class="col-md-4">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="panel panel-danger">
                                        <header class="panel-heading">VPD Resolution</header>
                                        <div class="panel-body">

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.SupplierEngagement, "SupplierEngagement", htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @*@Html.DropDownList("SupplierEngagement", null, htmlAttributes: new { @class = "form-control" })*@
                                                    @Html.DropDownList("SupplierEngagement", null,"-- Please Pick --", htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.SupplierEngagement, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-9">
                                                    <span class="control-label">
                                                        @Html.LabelFor(model => model.CloseOutComments, htmlAttributes: new { @class = "control-label" })
                                                    </span>
                                                    @Html.TextAreaFor(model => model.CloseOutComments, new { @cols = "", @rows = "6", style = "width: 100%", htmlAttributes = new { @class = "form-control col-md-9" } })
                                                    @*@Html.ValidationMessageFor(model => model.CloseOutComments, "" ,new { @class = "text-danger" })*@
                                                    @*@Html.ValidationMessage("CloseOutComments")*@
                                                    <span class="text-danger">@TempData["ErrorMess"]</span>
                                                </div>
                                                <div class="col-md-3">

                                                </div>
                                            </div>
                                            <div class="row">

                                            </div>

                                        </div>
                                    </section>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Close" class="btn btn-danger" />
                @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-success" })
            </div>
        </div>
        <div>
        </div>
    </div>
}
<script type="text/javascript">
    $(".datepicker").datepicker({
        autoclose: true
    });
    //$(".CloseOutComments").validate({
    //    message: "You must enter a reason for closing"
    //});
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
