@model Hovis.Web.Base.Models.t_HovisVPD_Details

@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.VPDRefNo)
    @Html.HiddenFor(model => model.RaisedBy)    
    @Html.HiddenFor(model => model.DateFirstRaised)
    @Html.HiddenFor(model => model.Status)
    @Html.HiddenFor(model => model.IssueClosureDate)
    @Html.HiddenFor(model => model.SupplierEngagement)
    <div class="content-wrap">
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-content ">
                    <section class="tab-pane active" id="elements">
                        <form>
                            <div class="row">
                                <div class="col-lg-12">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <section class="panel panel-primary">
                                        <header class="panel-heading">1. VPD Details</header>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <span class="control-label">
                                                            @Html.LabelFor(model => model.DateFirstRaised, htmlAttributes: new { @class = "control-label" })
                                                        </span>
                                                        <span class="form-control" style="background-color:lightgray">
                                                            @Html.DisplayFor(model => model.DateFirstRaised, new { htmlAttributes = new { @class = "form-control" } })
                                                        </span>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <span class="control-label">
                                                            @Html.LabelFor(model => model.RaisedBy, htmlAttributes: new { @class = "control-label" })
                                                        </span>
                                                        <span class="form-control" style="background-color:lightgray">
                                                            @Html.DisplayFor(model => model.RaisedBy, new { htmlAttributes = new { @class = "form-control" } })
                                                        </span>
                                                    </div>
                                                    <div class="col-md-3">
                                                        @Html.LabelFor(model => model.Priority, "Priority", htmlAttributes: new { @class = "control-label" })
                                                        @Html.DropDownList("Priority", null, htmlAttributes: new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-md-3">
                                                        <span class="control-label">
                                                            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label" })
                                                        </span>
                                                        <span class="form-control" style="background-color:lightgray">
                                                            @Html.DisplayFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-4">
                                                        <span class="control-label">
                                                            @Html.LabelFor(model => model.VPDRefNo, htmlAttributes: new { @class = "control-label" })
                                                        </span>
                                                        <span class="form-control" style="background-color:lightgray">
                                                            @Html.DisplayFor(model => model.VPDRefNo, new { htmlAttributes = new { @class = "form-control" } })
                                                        </span>
</div>
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(model => model.Bakery, "Bakery", htmlAttributes: new { @class = "control-label" })
                                                        @Html.DropDownList("Bakery", null, htmlAttributes: new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Bakery, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(model => model.OthersInvolved, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.OthersInvolved, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.OthersInvolved, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(model => model.SupplierName, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.SupplierName, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.SupplierName, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(model => model.SupplierContactName, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.SupplierContactName, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.SupplierContactName, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(model => model.SupplierContactDetails, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.SupplierContactDetails, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.SupplierContactDetails, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="panel panel-info">
                                        <header class="panel-heading">2. VPD Complaint Details and Updates</header>
                                        <div class="panel-body">

                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    @Html.LabelFor(model => model.IssueCategory, "IssueCategory", htmlAttributes: new { @class = "control-label" })
                                                    @Html.DropDownList("IssueCategory", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.IssueCategory, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-3">
                                                    @Html.LabelFor(model => model.ItemCode, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.ItemCode, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.ItemCode, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-3">
                                                    @Html.LabelFor(model => model.ItemDescription, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.ItemDescription, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.ItemDescription, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-3">
                                                    @Html.LabelFor(model => model.BakeryPONumber, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.BakeryPONumber, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.BakeryPONumber, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    @Html.LabelFor(model => model.DeliveryLotNo, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.DeliveryLotNo, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.DeliveryLotNo, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-3">
                                                        <span class="control-label">
                                                            @Html.LabelFor(model => model.DeliveryDate, htmlAttributes: new { @class = "control-label" })
                                                        </span>
                                                        <div class="input-group mg-b-md input-append date datepicker" data-date="@DateTime.Now.ToString("dd/MM/yyyy")" data-date-format="dd/mm/yyyy">
                                                            @Html.EditorFor(model => model.DeliveryDate, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.DeliveryDate, "", new { @class = "text-danger" })
                                                            <span class=" input-group-btn">
                                                                <button class="btn btn-white add-on" type="button">
                                                                    <i class="fa fa-calendar"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                </div>
                                                <div class="col-md-3">
                                                    @Html.LabelFor(model => model.SupplierReferenceNo, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.SupplierReferenceNo, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.SupplierReferenceNo, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-3">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-9">
                                                    @Html.LabelFor(model => model.DescriptionOfIssue, htmlAttributes: new { @class = "control-label" })
                                                    @Html.TextAreaFor(model => model.DescriptionOfIssue, new { @cols = "", @rows = "6", style = "width: 100%", htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.DescriptionOfIssue, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-sm-3">
                                                    <span></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.ActionsRequired, htmlAttributes: new { @class = "control-label" })
                                                    @Html.TextAreaFor(model => model.ActionsRequired, new { @cols = "", @rows = "6", style = "width: 100%", htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.ActionsRequired, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => model.LastUpdates, htmlAttributes: new { @class = "control-label" })
                                                    @Html.TextAreaFor(model => model.LastUpdates, new { @cols = "", @rows = "6", style = "width: 100%", htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.LastUpdates, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>
                                    </section>
                                    <section class="panel panel-success">
                                        <header class="panel-heading">3. VPD Resolution</header>
                                        <div class="panel-body">

                                            <div class="form-group">
                                                <div class="col-md-3 col-md-offset-9">
                                                    <span class="control-label">
                                                        @Html.LabelFor(model => model.SupplierEngagement, htmlAttributes: new { @class = "control-label" })
                                                    </span>
                                                    <span class="form-control" style="background-color:lightgray">
                                                        @Html.DisplayFor(model => model.SupplierEngagement)
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-9">
                                                    <span class="control-label">
                                                        @Html.LabelFor(model => model.CloseOutComments, htmlAttributes: new { @class = "control-label" })
                                                    </span>
                                                        @Html.TextAreaFor(model => model.CloseOutComments, new { @cols = "", @rows = "6", @readonly = "true", style = "width: 100%;background-color:lightgray", htmlAttributes = new { @class = "form-control col-md-9" } })
                                                </div>
                                                <div class="col-md-3">
                                                    <span class="control-label">
                                                        @Html.LabelFor(model => model.IssueClosureDate, htmlAttributes: new { @class = "control-label" })
                                                    </span>
                                                    <span class="form-control" style="background-color:lightgray">
                                                        @Html.DisplayFor(model => model.IssueClosureDate)
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row">

                                            </div>

                                        </div>
                                    </section>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
                @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-success" })
            </div>
        </div>
        <div>
        </div>
    </div>
}
<script type="text/javascript">
    $(".datepicker").datepicker({
        autoclose: true
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
