@model IEnumerable<Hovis.Web.Base.Models.t_HovisVPD_Documents>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_HovisVPD_Document_Types_Drop_Down.TypeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_HovisVPD_Details.RaisedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_HovisVPD_Document_Types_Drop_Down.TypeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_HovisVPD_Details.RaisedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RecID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RecID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RecID })
        </td>
    </tr>
}

</table>
